-
	var upload = "assets/upload/";

footer.footer 
	.container 
		.footer__copyright © 2018 «LoremIpsum.net» Все права защищены.
		.footer__payments
			.footer__payment
				img(src="" + upload + "payment-icon-1.svg") 
				| QIWI wallet
			.footer__payment
				img(src="" + upload + "payment-icon-2.svg") 
				| Yandex Money
			.footer__payment
				img(src="" + upload + "payment-icon-3.svg") 
				| Web Money
		.footer__contacts 
			a.footer__contact(href="mailto:info@ipsum228.com") 
				img(src="" + upload + "footer-contacts-icon-1.svg")
				| info@ipsum228.com
			a.footer__contact(href="#") 
				img(src="" + upload + "footer-contacts-icon-2.svg")
				| Мы вконтакте