-
	var image = "assets/image/";
	var upload = "assets/upload/";

header.header 
	.container 
		a.logo(href="/")
			img(src="" + upload + "logo.svg") 
		nav.header__nav 
			a.header__nav-link.header__nav-link--active(href="#") Бизнес 
			a.header__nav-link(href="#") О нас 
			a.header__nav-link(href="#") Цены 
			a.header__nav-link(href="#") Оформить заказ 
		.header__burger

.mobile-menu 
	.mobile-menu__nav 
		a.mobile-menu__nav-link(href="#") Бизнес
		a.mobile-menu__nav-link(href="#") О нас
		a.mobile-menu__nav-link(href="#") Цены
		a.mobile-menu__nav-link(href="#") Оформить заказ
